<% Board.all.each do |board| %>
    <h2><%= board.name %></h2>

    <div id='<%= "container_#{board.id}" %>' style="min-width: 400px; margin: 0 auto"></div>

    <h3>Cycle Time and Throughput</h3>
    <ul>
      <li>
        Average Cycle Time is
        <%= distance_of_time_in_words(board.compute_average_cycle_time)  %>
      </li>
      <li>
        Throughput (Average # of Cards per week) is
        <%= (board.compute_throughput.round(2)) %>

      </li>
    </ul>


<% end %>